# Configuration file

ids {
    I:"1 Up"=28
    I:Blink=29
    I:"Elemental Affinity"=54
    I:"Fall Resistance"=55
    I:Leapfrog=56
    I:"Never Hungry"=57
    I:Paraglide=58
    I:Reaper=59
    I:Restoration=60
    I:"Sonic the Hedgehog"=74
    I:Spiderman=75
    I:"Step Up"=63
    I:Superman=64
    I:"The One Ring"=65
}


jewelry {
    B:"Enable Non-Fish Breeding Recipe for Celestial Mirror"=true
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    I:"Blink > Milliseconds between Blinks"=0
    I:"Blink > Ray Trace Distance"=2000
    B:"Disable Pearls in Vanilla Anvil"=false
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


